{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Asana Support",
      "url": "https://asana.com/support"
    },
    "description": "This is the interface for interacting with the [Asana Platform](https://developers.asana.com). Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml).",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "termsOfService": "https://asana.com/terms",
    "title": "Asana",
    "version": "1.0",
    "x-docs-schema-whitelist": [
      "AsanaResource",
      "AsanaNamedResource",
      "AuditLogEvent",
      "AttachmentResponse",
      "AttachmentCompact",
      "BatchResponse",
      "CustomFieldSettingResponse",
      "CustomFieldSettingCompact",
      "CustomFieldResponse",
      "CustomFieldCompact",
      "EnumOption",
      "EventResponse",
      "ErrorResponse",
      "GoalResponse",
      "GoalCompact",
      "GoalMembershipCompact",
      "GoalMembershipBase",
      "GoalMembershipResponse",
      "GoalRelationshipResponse",
      "GoalRelationshipCompact",
      "JobResponse",
      "JobCompact",
      "OrganizationExportResponse",
      "OrganizationExportCompact",
      "PortfolioMembershipResponse",
      "PortfolioMembershipCompact",
      "PortfolioResponse",
      "PortfolioCompact",
      "ProjectBriefResponse",
      "ProjectBriefCompact",
      "ProjectMembershipCompactResponse",
      "ProjectMembershipNormalResponse",
      "ProjectMembershipCompact",
      "ProjectResponse",
      "ProjectCompact",
      "ProjectStatusResponse",
      "ProjectStatusCompact",
      "ProjectTemplateCompact",
      "ProjectTemplateResponse",
      "RuleTriggerResponse",
      "SectionResponse",
      "SectionCompact",
      "StatusUpdateResponse",
      "StatusUpdateCompact",
      "StoryResponse",
      "StoryCompact",
      "TagResponse",
      "TagCompact",
      "TaskResponse",
      "TaskCompact",
      "TaskCountResponse",
      "TeamMembershipResponse",
      "TeamMembershipCompact",
      "TeamResponse",
      "TeamCompact",
      "TimePeriodResponse",
      "TimePeriodCompact",
      "UserTaskListResponse",
      "UserTaskListCompact",
      "UserResponse",
      "UserCompact",
      "WebhookFilter",
      "WebhookResponse",
      "WebhookCompact",
      "WorkspaceMembershipResponse",
      "WorkspaceMembershipCompact",
      "WorkspaceResponse",
      "WorkspaceCompact"
    ],
    "x-public-description": "This is the interface for interacting with the [Asana Platform](https://developers.asana.com). Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml)."
  },
  "host": "app.asana.com",
  "basePath": "/api/1.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/allocations": {
      "parameters": [
        {
          "allowEmptyValue": true,
          "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
          "in": "query",
          "name": "opt_pretty",
          "required": false,
          "type": "boolean",
          "x-example": true
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Globally unique identifier for the project to filter allocations by.",
            "in": "query",
            "name": "parent",
            "type": "string",
            "x-example": "77688"
          },
          {
            "description": "Globally unique identifier for the user the allocation is assigned to.",
            "in": "query",
            "name": "assignee",
            "type": "string",
            "x-example": "12345"
          },
          {
            "description": "Globally unique identifier for the workspace.",
            "in": "query",
            "name": "workspace",
            "type": "string",
            "x-example": "98765"
          },
          {
            "description": "Results per page.\nThe number of objects to return per page. The value must be between 1 and 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer",
            "x-example": 50
          },
          {
            "description": "Offset token.\nAn offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.\n*Note: You can only pass in an offset that was returned to you via a previously paginated request.*",
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-example": "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9"
          },
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "assignee",
                "assignee.name",
                "created_by",
                "created_by.name",
                "effort",
                "effort.type",
                "effort.value",
                "end_date",
                "offset",
                "parent",
                "parent.name",
                "path",
                "resource_subtype",
                "start_date",
                "uri"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "assignee",
              "assignee.name",
              "created_by",
              "created_by.name",
              "effort",
              "effort.type",
              "effort.value",
              "end_date",
              "offset",
              "parent",
              "parent.name",
              "path",
              "resource_subtype",
              "start_date",
              "uri"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested allocations.",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/AllocationResponse"
                  },
                  "type": "array"
                },
                "next_page": {
                  "$ref": "#/definitions/NextPage"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "The request was valid, but the queried object or object mutation specified in the request is above your current premium level.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Allocations"
        ],
        "description": "Returns a list of allocations filtered to a specific project or user.",
        "operationId": "getAllocations",
        "summary": "Get multiple allocations",
        "x-readme": {
          "code-samples": [
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet opts = { \n    'parent': \"77688\", \n    'assignee': \"12345\", \n    'workspace': \"98765\", \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,offset,parent,parent.name,path,resource_subtype,start_date,uri\"\n};\nallocationsApiInstance.getAllocations(opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.allocations.getAllocations({param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nallocations_api_instance = asana.AllocationsApi(api_client)\nopts = {\n    'parent': \"77688\", # str | Globally unique identifier for the project to filter allocations by.\n    'assignee': \"12345\", # str | Globally unique identifier for the user the allocation is assigned to.\n    'workspace': \"98765\", # str | Globally unique identifier for the workspace.\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,offset,parent,parent.name,path,resource_subtype,start_date,uri\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get multiple allocations\n    api_response = allocations_api_instance.get_allocations(opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling AllocationsApi->get_allocations: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.allocations.get_allocations({'param': 'value', 'param': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            }
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "assignee",
                "assignee.name",
                "created_by",
                "created_by.name",
                "effort",
                "effort.type",
                "effort.value",
                "end_date",
                "parent",
                "parent.name",
                "resource_subtype",
                "start_date"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "assignee",
              "assignee.name",
              "created_by",
              "created_by.name",
              "effort",
              "effort.type",
              "effort.value",
              "end_date",
              "parent",
              "parent.name",
              "resource_subtype",
              "start_date"
            ]
          },
          {
            "description": "The allocation to create.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "data": {
                  "allOf": [
                    {
                      "$ref": "#/definitions/AllocationRequest"
                    },
                    {
                      "required": [
                        "assignee",
                        "end_date",
                        "parent",
                        "start_date"
                      ],
                      "type": "object"
                    }
                  ]
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created a new allocation.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/AllocationResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "The request was valid, but the queried object or object mutation specified in the request is above your current premium level.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Allocations"
        ],
        "description": "Creates a new allocation.\n\nReturns the full record of the newly created allocation.",
        "operationId": "createAllocation",
        "summary": "Create an allocation",
        "x-readme": {
          "code-samples": [
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The allocation to create.\nlet opts = { \n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\"\n};\nallocationsApiInstance.createAllocation(body, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.allocations.createAllocation({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nallocations_api_instance = asana.AllocationsApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The allocation to create.\nopts = {\n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Create an allocation\n    api_response = allocations_api_instance.create_allocation(body, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling AllocationsApi->create_allocation: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.allocations.create_allocation({'field': 'value', 'field': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            }
          ]
        }
      }
    },
    "/allocations/{allocation_gid}": {
      "parameters": [
        {
          "description": "Globally unique identifier for the allocation.",
          "in": "path",
          "name": "allocation_gid",
          "required": true,
          "type": "string",
          "x-env-variable": "allocation",
          "x-example": "77688"
        },
        {
          "allowEmptyValue": true,
          "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
          "in": "query",
          "name": "opt_pretty",
          "required": false,
          "type": "boolean",
          "x-example": true
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified allocation.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/EmptyResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "The request was valid, but the queried object or object mutation specified in the request is above your current premium level.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Allocations"
        ],
        "description": "A specific, existing allocation can be deleted by making a DELETE request on the URL for that allocation.\n\nReturns an empty data record.",
        "operationId": "deleteAllocation",
        "summary": "Delete an allocation",
        "x-readme": {
          "code-samples": [
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet allocation_gid = \"77688\"; // String | Globally unique identifier for the allocation.\n\nallocationsApiInstance.deleteAllocation(allocation_gid).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.allocations.deleteAllocation(allocationGid)\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nallocations_api_instance = asana.AllocationsApi(api_client)\nallocation_gid = \"77688\" # str | Globally unique identifier for the allocation.\n\n\ntry:\n    # Delete an allocation\n    api_response = allocations_api_instance.delete_allocation(allocation_gid)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling AllocationsApi->delete_allocation: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.allocations.delete_allocation(allocation_gid, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            }
          ]
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "assignee",
                "assignee.name",
                "created_by",
                "created_by.name",
                "effort",
                "effort.type",
                "effort.value",
                "end_date",
                "parent",
                "parent.name",
                "resource_subtype",
                "start_date"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "assignee",
              "assignee.name",
              "created_by",
              "created_by.name",
              "effort",
              "effort.type",
              "effort.value",
              "end_date",
              "parent",
              "parent.name",
              "resource_subtype",
              "start_date"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the record for a single allocation.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/AllocationResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "The request was valid, but the queried object or object mutation specified in the request is above your current premium level.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Allocations"
        ],
        "description": "Returns the complete allocation record for a single allocation.",
        "operationId": "getAllocation",
        "summary": "Get an allocation",
        "x-readme": {
          "code-samples": [
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet allocation_gid = \"77688\"; // String | Globally unique identifier for the allocation.\nlet opts = { \n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\"\n};\nallocationsApiInstance.getAllocation(allocation_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.allocations.getAllocation(allocationGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nallocations_api_instance = asana.AllocationsApi(api_client)\nallocation_gid = \"77688\" # str | Globally unique identifier for the allocation.\nopts = {\n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get an allocation\n    api_response = allocations_api_instance.get_allocation(allocation_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling AllocationsApi->get_allocation: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.allocations.get_allocation(allocation_gid, {'param': 'value', 'param': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            }
          ]
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "assignee",
                "assignee.name",
                "created_by",
                "created_by.name",
                "effort",
                "effort.type",
                "effort.value",
                "end_date",
                "parent",
                "parent.name",
                "resource_subtype",
                "start_date"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "assignee",
              "assignee.name",
              "created_by",
              "created_by.name",
              "effort",
              "effort.type",
              "effort.value",
              "end_date",
              "parent",
              "parent.name",
              "resource_subtype",
              "start_date"
            ]
          },
          {
            "description": "The updated fields for the allocation.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/AllocationRequest"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the allocation.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/AllocationResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Allocations"
        ],
        "description": "An existing allocation can be updated by making a PUT request on the URL for\nthat allocation. Only the fields provided in the `data` block will be updated;\nany unspecified fields will remain unchanged.\n\nReturns the complete updated allocation record.",
        "operationId": "updateAllocation",
        "summary": "Update an allocation",
        "x-readme": {
          "code-samples": [
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The updated fields for the allocation.\nlet allocation_gid = \"77688\"; // String | Globally unique identifier for the allocation.\nlet opts = { \n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\"\n};\nallocationsApiInstance.updateAllocation(body, allocation_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.allocations.updateAllocation(allocationGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nallocations_api_instance = asana.AllocationsApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The updated fields for the allocation.\nallocation_gid = \"77688\" # str | Globally unique identifier for the allocation.\nopts = {\n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Update an allocation\n    api_response = allocations_api_instance.update_allocation(body, allocation_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling AllocationsApi->update_allocation: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.allocations.update_allocation(allocation_gid, {'field': 'value', 'field': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            }
          ]
        }
      }
    },
    "/attachments": {
      "parameters": [
        {
          "allowEmptyValue": true,
          "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
          "in": "query",
          "name": "opt_pretty",
          "required": false,
          "type": "boolean",
          "x-example": true
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Results per page.\nThe number of objects to return per page. The value must be between 1 and 100.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer",
            "x-example": 50
          },
          {
            "description": "Offset token.\nAn offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.\n*Note: You can only pass in an offset that was returned to you via a previously paginated request.*",
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-example": "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9"
          },
          {
            "description": "Globally unique identifier for object to fetch statuses from. Must be a GID for a `project`, `project_brief`, or `task`.",
            "in": "query",
            "name": "parent",
            "required": true,
            "type": "string",
            "x-example": "159874"
          },
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "connected_to_app",
                "created_at",
                "download_url",
                "host",
                "name",
                "offset",
                "parent",
                "parent.created_by",
                "parent.name",
                "parent.resource_subtype",
                "path",
                "permanent_url",
                "resource_subtype",
                "size",
                "uri",
                "view_url"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "connected_to_app",
              "created_at",
              "download_url",
              "host",
              "name",
              "offset",
              "parent",
              "parent.created_by",
              "parent.name",
              "parent.resource_subtype",
              "path",
              "permanent_url",
              "resource_subtype",
              "size",
              "uri",
              "view_url"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified object's attachments.",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/AttachmentCompact"
                  },
                  "type": "array"
                },
                "next_page": {
                  "$ref": "#/definitions/NextPage"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Attachments"
        ],
        "description": "Returns the compact records for all attachments on the object.\n\nThere are three possible `parent` values for this request: `project`, `project_brief`, and `task`. For a project, an attachment refers to a file uploaded to the \"Key resources\" section in the project Overview. For a project brief, an attachment refers to inline files in the project brief itself. For a task, an attachment refers to a file directly associated to that task.\n\nNote that within the Asana app, inline images in the task description do not appear in the index of image thumbnails nor as stories in the task. However, requests made to `GET /attachments` for a task will return all of the images in the task, including inline images.",
        "operationId": "getAttachmentsForObject",
        "summary": "Get attachments from an object",
        "x-readme": {
          "code-samples": [
            {
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nList<Attachment> result = client.attachments.getAttachmentsForObject(parent)\n    .option(\"pretty\", true)\n    .execute();",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "language": "java"
            },
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet attachmentsApiInstance = new Asana.AttachmentsApi();\nlet parent = \"159874\"; // String | Globally unique identifier for object to fetch statuses from. Must be a GID for a `project`, `project_brief`, or `task`.\nlet opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permanent_url,resource_subtype,size,uri,view_url\"\n};\nattachmentsApiInstance.getAttachmentsForObject(parent, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.attachments.getAttachmentsForObject({param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nattachments_api_instance = asana.AttachmentsApi(api_client)\nparent = \"159874\" # str | Globally unique identifier for object to fetch statuses from. Must be a GID for a `project`, `project_brief`, or `task`.\nopts = {\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permanent_url,resource_subtype,size,uri,view_url\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get attachments from an object\n    api_response = attachments_api_instance.get_attachments_for_object(parent, opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling AttachmentsApi->get_attachments_for_object: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.attachments.get_attachments_for_object({'param': 'value', 'param': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            },
            {
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->attachments->getAttachmentsForObject(array('param' => 'value', 'param' => 'value'), array('opt_pretty' => 'true'))",
              "install": "composer require asana/asana",
              "language": "php"
            },
            {
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.attachments.get_attachments_for_object(parent: '&#x27;parent_example&#x27;', param: \"value\", param: \"value\", options: {pretty: true})",
              "install": "gem install asana",
              "language": "ruby"
            }
          ]
        }
      },
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "connected_to_app",
                "created_at",
                "download_url",
                "host",
                "name",
                "parent",
                "parent.created_by",
                "parent.name",
                "parent.resource_subtype",
                "permanent_url",
                "resource_subtype",
                "size",
                "view_url"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "connected_to_app",
              "created_at",
              "download_url",
              "host",
              "name",
              "parent",
              "parent.created_by",
              "parent.name",
              "parent.resource_subtype",
              "permanent_url",
              "resource_subtype",
              "size",
              "view_url"
            ]
          },
          {
            "description": "The type of the attachment. Must be one of the given values. If not specified, a file attachment of type `asana` will be assumed. Note that if the value of `resource_subtype` is `external`, a `parent`, `name`, and `url` must also be provided.\n",
            "enum": [
              "asana",
              "dropbox",
              "gdrive",
              "onedrive",
              "box",
              "vimeo",
              "external"
            ],
            "in": "formData",
            "name": "resource_subtype",
            "type": "string"
          },
          {
            "description": "Required for `asana` attachments.\n",
            "format": "binary",
            "in": "formData",
            "name": "file",
            "type": "string"
          },
          {
            "description": "Required identifier of the parent task, project, or project_brief, as a string.\n",
            "in": "formData",
            "name": "parent",
            "required": true,
            "type": "string"
          },
          {
            "description": "The URL of the external resource being attached. Required for attachments of type `external`.\n",
            "in": "formData",
            "name": "url",
            "type": "string"
          },
          {
            "description": "The name of the external resource being attached. Required for attachments of type `external`.\n",
            "in": "formData",
            "name": "name",
            "type": "string"
          },
          {
            "description": "*Optional*. Only relevant for external attachments with a parent task. A boolean indicating whether the current app should be connected with the attachment for the purposes of showing an app components widget. Requires the app to have been added to a project the parent task is in.\n",
            "in": "formData",
            "name": "connect_to_app",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully uploaded the attachment to the parent object.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/AttachmentResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "attachments:write"
            ]
          }
        ],
        "tags": [
          "Attachments"
        ],
        "description": "Upload an attachment.\n\nThis method uploads an attachment on an object and returns the compact\nrecord for the created attachment object. This is possible by either:\n\n- Providing the URL of the external resource being attached, or\n- Downloading the file content first and then uploading it as any other attachment. Note that it is not possible to attach\nfiles from third party services such as Dropbox, Box, Vimeo & Google Drive via the API\n\nThe 100MB size limit on attachments in Asana is enforced on this endpoint.\n\nThis endpoint expects a multipart/form-data encoded request containing the full contents of the file to be uploaded.\n\nRequests made should follow the HTTP/1.1 specification that line\nterminators are of the form `CRLF` or `\\r\\n` outlined\n[here](http://www.w3.org/Protocols/HTTP/1.1/draft-ietf-http-v11-spec-01#Basic-Rules) in order for the server to reliably and properly handle the request.",
        "operationId": "createAttachmentForObject",
        "summary": "Upload an attachment",
        "x-readme": {
          "code-samples": [
            {
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nAttachment result = client.attachments.createAttachmentForObject(file, parent, url, name)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "language": "java"
            },
            {
              "code": "const Asana = require('asana');\nconst fs = require(\"fs\");\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet attachmentsApiInstance = new Asana.AttachmentsApi();\nlet opts = { \n    'resource_subtype': \"external\", \n    'file': fs.createReadStream(\"file_example\"), \n    'parent': \"parent_example\", \n    'url': \"url_example\", \n    'name': \"name_example\", \n    'connect_to_app': true, \n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url\"\n};\nattachmentsApiInstance.createAttachmentForObject(opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.attachments.createAttachmentForObject({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nattachments_api_instance = asana.AttachmentsApi(api_client)\nopts = {\n    'resource_subtype': \"external\", # str | \n    'file': \"file_example\", # str | \n    'parent': \"parent_example\", # str | \n    'url': \"url_example\", # str | \n    'name': \"name_example\", # str | \n    'connect_to_app': True, # bool | \n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Upload an attachment\n    api_response = attachments_api_instance.create_attachment_for_object(opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling AttachmentsApi->create_attachment_for_object: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.attachments.create_attachment_for_object({'field': 'value', 'field': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            },
            {
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->attachments->createAttachmentForObject(array('field' => 'value', 'field' => 'value'), array('opt_pretty' => 'true'))",
              "install": "composer require asana/asana",
              "language": "php"
            },
            {
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.attachments.create_attachment_for_object(field: \"value\", field: \"value\", options: {pretty: true})",
              "install": "gem install asana",
              "language": "ruby"
            }
          ]
        }
      }
    },
    "/attachments/{attachment_gid}": {
      "parameters": [
        {
          "description": "Globally unique identifier for the attachment.",
          "in": "path",
          "name": "attachment_gid",
          "required": true,
          "type": "string",
          "x-env-variable": "attachment",
          "x-example": "12345"
        },
        {
          "allowEmptyValue": true,
          "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
          "in": "query",
          "name": "opt_pretty",
          "required": false,
          "type": "boolean",
          "x-example": true
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified attachment.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/EmptyResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Attachments"
        ],
        "description": "Deletes a specific, existing attachment.\n\nReturns an empty data record.",
        "operationId": "deleteAttachment",
        "summary": "Delete an attachment",
        "x-readme": {
          "code-samples": [
            {
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJsonElement result = client.attachments.deleteAttachment(attachmentGid)\n    .option(\"pretty\", true)\n    .execute();",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "language": "java"
            },
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet attachmentsApiInstance = new Asana.AttachmentsApi();\nlet attachment_gid = \"12345\"; // String | Globally unique identifier for the attachment.\n\nattachmentsApiInstance.deleteAttachment(attachment_gid).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.attachments.deleteAttachment(attachmentGid)\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nattachments_api_instance = asana.AttachmentsApi(api_client)\nattachment_gid = \"12345\" # str | Globally unique identifier for the attachment.\n\n\ntry:\n    # Delete an attachment\n    api_response = attachments_api_instance.delete_attachment(attachment_gid)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling AttachmentsApi->delete_attachment: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.attachments.delete_attachment(attachment_gid, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            },
            {
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->attachments->deleteAttachment($attachment_gid, array('opt_pretty' => 'true'))",
              "install": "composer require asana/asana",
              "language": "php"
            },
            {
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.attachments.delete_attachment(attachment_gid: 'attachment_gid', options: {pretty: true})",
              "install": "gem install asana",
              "language": "ruby"
            }
          ]
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "connected_to_app",
                "created_at",
                "download_url",
                "host",
                "name",
                "parent",
                "parent.created_by",
                "parent.name",
                "parent.resource_subtype",
                "permanent_url",
                "resource_subtype",
                "size",
                "view_url"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "connected_to_app",
              "created_at",
              "download_url",
              "host",
              "name",
              "parent",
              "parent.created_by",
              "parent.name",
              "parent.resource_subtype",
              "permanent_url",
              "resource_subtype",
              "size",
              "view_url"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the record for a single attachment.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/AttachmentResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "The request was valid, but the queried object or object mutation specified in the request is above your current premium level.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "424": {
            "description": "You have exceeded one of the enforced rate limits in the API. See the [documentation on rate limiting](https://developers.asana.com/docs/#rate-limits) for more information.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "501": {
            "description": "There is an issue between the load balancers and Asana's API.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Either the upstream service is unavailable to the API, or the API has been intentionally shut off.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "504": {
            "description": "This request took too long to complete.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Attachments"
        ],
        "description": "Get the full record for a single attachment.",
        "operationId": "getAttachment",
        "summary": "Get an attachment",
        "x-readme": {
          "code-samples": [
            {
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nAttachment result = client.attachments.getAttachment(attachmentGid)\n    .option(\"pretty\", true)\n    .execute();",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "language": "java"
            },
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet attachmentsApiInstance = new Asana.AttachmentsApi();\nlet attachment_gid = \"12345\"; // String | Globally unique identifier for the attachment.\nlet opts = { \n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url\"\n};\nattachmentsApiInstance.getAttachment(attachment_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.attachments.getAttachment(attachmentGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nattachments_api_instance = asana.AttachmentsApi(api_client)\nattachment_gid = \"12345\" # str | Globally unique identifier for the attachment.\nopts = {\n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get an attachment\n    api_response = attachments_api_instance.get_attachment(attachment_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling AttachmentsApi->get_attachment: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.attachments.get_attachment(attachment_gid, {'param': 'value', 'param': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            },
            {
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->attachments->getAttachment($attachment_gid, array('param' => 'value', 'param' => 'value'), array('opt_pretty' => 'true'))",
              "install": "composer require asana/asana",
              "language": "php"
            },
            {
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.attachments.get_attachment(attachment_gid: 'attachment_gid', param: \"value\", param: \"value\", options: {pretty: true})",
              "install": "gem install asana",
              "language": "ruby"
            }
          ]
        }
      }
    },
    "/batch": {
      "parameters": [
        {
          "allowEmptyValue": true,
          "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
          "in": "query",
          "name": "opt_pretty",
          "required": false,
          "type": "boolean",
          "x-example": true
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "body",
                "headers",
                "status_code"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "body",
              "headers",
              "status_code"
            ]
          },
          {
            "description": "The requests to batch together via the Batch API.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BatchRequest"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully completed the requested batch API operations.",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/BatchResponse"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Batch API"
        ],
        "description": "Make multiple requests in parallel to Asana's API.",
        "operationId": "createBatchRequest",
        "summary": "Submit parallel requests",
        "x-readme": {
          "code-samples": [
            {
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nList<JsonElement> result = client.batchapi.createBatchRequest()\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "language": "java"
            },
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet batchApiApiInstance = new Asana.BatchAPIApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The requests to batch together via the Batch API.\nlet opts = { \n    'opt_fields': \"body,headers,status_code\"\n};\nbatchApiApiInstance.createBatchRequest(body, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.batchapi.createBatchRequest({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nbatch_api_api_instance = asana.BatchAPIApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The requests to batch together via the Batch API.\nopts = {\n    'opt_fields': \"body,headers,status_code\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Submit parallel requests\n    api_response = batch_api_api_instance.create_batch_request(body, opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling BatchAPIApi->create_batch_request: %s\\n\" % e)",
              "install": "pip install asana",
              "language": "python",
              "name": "python-sdk-v5"
            },
            {
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.batch_api.create_batch_request({'field': 'value', 'field': 'value'}, opt_pretty=True)",
              "install": "pip install asana==3.2.3",
              "language": "python",
              "name": "python-sdk-v3"
            },
            {
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->batchapi->createBatchRequest(array('field' => 'value', 'field' => 'value'), array('opt_pretty' => 'true'))",
              "install": "composer require asana/asana",
              "language": "php"
            },
            {
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.batch_api.create_batch_request(field: \"value\", field: \"value\", options: {pretty: true})",
              "install": "gem install asana",
              "language": "ruby"
            }
          ]
        }
      }
    },
    "/custom_fields": {
      "parameters": [
        {
          "allowEmptyValue": true,
          "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
          "in": "query",
          "name": "opt_pretty",
          "required": false,
          "type": "boolean",
          "x-example": true
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.",
            "in": "query",
            "items": {
              "enum": [
                "asana_created_field",
                "created_by",
                "created_by.name",
                "currency_code",
                "custom_label",
                "custom_label_position",
                "date_value",
                "date_value.date",
                "date_value.date_time",
                "description",
                "display_value",
                "enabled",
                "enum_options",
                "enum_options.color",
                "enum_options.enabled",
                "enum_options.name",
                "enum_value",
                "enum_value.color",
                "enum_value.enabled",
                "enum_value.name",
                "format",
                "has_notifications_enabled",
                "id_prefix",
                "is_formula_field",
                "is_global_to_workspace",
                "is_value_read_only",
                "multi_enum_values",
                "multi_enum_values.color",
                "multi_enum_values.enabled",
                "multi_enum_values.name",
                "name",
                "number_value",
                "people_value",
                "people_value.name",
                "precision",
                "representation_type",
                "resource_subtype",
                "text_value",
                "type"
              ],
              "type": "string"
            },
            "name": "opt_fields",
            "required": false,
            "type": "array",
            "x-example": [
              "asana_created_field",
              "created_by",
              "created_by.name",
              "currency_code",
              "custom_label",
              "custom_label_position",
              "date_value",
              "date_value.date",
              "date_value.date_time",
              "description",
              "display_value",
              "enabled",
              "enum_options",
              "enum_options.color",
              "enum_options.enabled",
              "enum_options.name",
              "enum_value",
              "enum_value.color",
              "enum_value.enabled",
              "enum_value.name",
              "format",
              "has_notifications_enabled",
              "id_prefix",
              "is_formula_field",
              "is_global_to_workspace",
              "is_value_read_only",
              "multi_enum_values",
              "multi_enum_values.color",
              "multi_enum_values.enabled",
              "multi_enum_values.name",
              "name",
              "number_value",
              "people_value",
              "people_value.name",
              "precision",
              "representation_type",
              "resource_subtype",
              "text_value",
              "type"
            ]
          },
          {
            "description": "The custom field object to create.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CustomFieldRequest"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Custom field successfully created.",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/CustomFieldResponse"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Custom fields"
        ],
        "description": "Creates a new custom field in a workspace. Every custom field is required\nto be created in a specific workspace, and this workspace cannot be\nchanged once set.\n\nA custom field’s name must be unique within a workspace and not conflict\nwith names of existing task properties such as `Due Date` or `Assignee`.\nA custom field’s type must be one of `text`, `enum`, `multi_enum`, `number`,\n`date`, or `people`.\n\nReturns the full record of the newly created custom field.",
        "operationId": "createCustomField",
        "summary": "Create a custom field",
        "x-readme": {
          "code-samples": [
            {
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nCustomField result = client.customfields.createCustomField()\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "language": "java"
            },
            {
              "code": "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The custom field object to create.\nlet opts = { \n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type\"\n};\ncustomFieldsApiInstance.createCustomField(body, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "install": "npm install asana",
              "language": "node",
              "name": "node-sdk-v3"
            },
            {
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.createCustomField({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "install": "npm install asana@1.0.5",
              "language": "node",
              "name": "node-sdk-v1"
            },
            {
[...]
