swagger: "2.0"
info:
    contact:
        name: Asana Support
        url: "https://asana.com/support"
    description: >-
        This is the interface for interacting with the [Asana
        Platform](https://developers.asana.com). Our API reference is generated from
        our [OpenAPI spec]
        (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
    license:
        name: Apache 2.0
        url: "https://www.apache.org/licenses/LICENSE-2.0"
    termsOfService: "https://asana.com/terms"
    title: Asana
    version: "1.0"
    x-apisguru-categories:
        - developer_tools
    x-docs-schema-whitelist:
        - AsanaResource
        - AsanaNamedResource
        - AuditLogEvent
        - AttachmentResponse
        - AttachmentCompact
        - BatchResponse
        - CustomFieldSettingResponse
        - CustomFieldSettingCompact
        - CustomFieldResponse
        - CustomFieldCompact
        - EnumOption
        - EventResponse
        - ErrorResponse
        - GoalResponse
        - GoalCompact
        - GoalMembershipCompact
        - GoalMembershipBase
        - GoalMembershipResponse
        - GoalRelationshipResponse
        - GoalRelationshipCompact
        - JobResponse
        - JobCompact
        - OrganizationExportResponse
        - OrganizationExportCompact
        - PortfolioMembershipResponse
        - PortfolioMembershipCompact
        - PortfolioResponse
        - PortfolioCompact
        - ProjectBriefResponse
        - ProjectBriefCompact
        - ProjectMembershipResponse
        - ProjectMembershipCompact
        - ProjectResponse
        - ProjectCompact
        - ProjectStatusResponse
        - ProjectStatusCompact
        - ProjectTemplateCompact
        - ProjectTemplateResponse
        - SectionResponse
        - SectionCompact
        - StatusUpdateResponse
        - StatusUpdateCompact
        - StoryResponse
        - StoryCompact
        - TagResponse
        - TagCompact
        - TaskResponse
        - TaskCompact
        - TaskCountResponse
        - TeamMembershipResponse
        - TeamMembershipCompact
        - TeamResponse
        - TeamCompact
        - TimePeriodResponse
        - TimePeriodCompact
        - UserTaskListResponse
        - UserTaskListCompact
        - UserResponse
        - UserCompact
        - WebhookFilter
        - WebhookResponse
        - WebhookCompact
        - WorkspaceMembershipResponse
        - WorkspaceMembershipCompact
        - WorkspaceResponse
        - WorkspaceCompact
    x-logo:
        url: >-
            https://api.apis.guru/v2/cache/logo/https_d1gwm4cf8hecp4.cloudfront.net_images_favicons_apple-touch-icon-57x57.png
    x-origin:
        - format: openapi
          url: >-
              https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml
          version: "3.0"
    x-providerName: asana.com
    x-public-description: >-
        This is the interface for interacting with the [Asana
        Platform](https://developers.asana.com). Our API reference is generated from
        our [OpenAPI spec]
        (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
host: app.asana.com
basePath: /api/1.0
schemes:
    - https
paths:
    /attachments:
        parameters:
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        get:
            produces:
                - application/json
            parameters:
                - description: >-
                      Results per page.

                      The number of objects to return per page. The value must be between
                      1 and 100.
                  in: query
                  name: limit
                  type: integer
                  x-example: 50
                - description: >-
                      Offset token.

                      An offset to the next page returned by the API. A pagination request
                      will return an offset token, which can be used as an input parameter
                      to the next request. If an offset is not passed in, the API will
                      return the first page of results.

                      'Note: You can only pass in an offset that was returned to you via a
                      previously paginated request.'
                  in: query
                  name: offset
                  type: string
                  x-example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
                - description: >-
                      Globally unique identifier for object to fetch statuses from. Must
                      be a GID for a `project`, `project_brief`, or `task`.
                  in: query
                  name: parent
                  required: true
                  type: string
                  x-example: "159874"
            responses:
                "200":
                    description: Successfully retrieved the specified object's attachments.
                    schema:
                        properties:
                            data:
                                items:
                                    $ref: "#/definitions/AttachmentCompact"
                                type: array
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Attachments
            description: >-
                Returns the compact records for all attachments on the object.


                There are three possible `parent` values for this request: `project`,
                `project_brief`, and `task`. For a project, an attachment refers to a
                file uploaded to the "Key resources" section in the project Overview.
                For a project brief, an attachment refers to inline files in the project
                brief itself. For a task, an attachment refers to a file directly
                associated to that task.
            operationId: getAttachmentsForObject
            summary: Get attachments from an object
        post:
            consumes:
                - multipart/form-data
            produces:
                - application/json
            parameters:
                - description: >
                      *Optional*. Only relevant for external attachments with a parent
                      task. A boolean indicating whether the current app should be
                      connected with the attachment for the purposes of showing an app
                      components widget. Requires the app to have been added to a project
                      the parent task is in.
                  in: formData
                  name: connect_to_app
                  type: boolean
                - description: |
                      Required for `asana` attachments.
                  format: binary
                  in: formData
                  name: file
                  type: string
                - description: >
                      The name of the external resource being attached. Required for
                      attachments of type `external`.
                  in: formData
                  name: name
                  type: string
                - description: >
                      Required identifier of the parent task, project, or project_brief,
                      as a string.
                  in: formData
                  name: parent
                  type: string
                - description: >
                      The type of the attachment. Must be one of the given values. If not
                      specified, a file attachment of type `asana` will be assumed. Note
                      that if the value of `resource_subtype` is `external`, a `parent`,
                      `name`, and `url` must also be provided.
                  enum:
                      - asana
                      - dropbox
                      - gdrive
                      - onedrive
                      - box
                      - vimeo
                      - external
                  in: formData
                  name: resource_subtype
                  type: string
                - description: >
                      The URL of the external resource being attached. Required for
                      attachments of type `external`.
                  in: formData
                  name: url
                  type: string
            responses:
                "200":
                    description: Successfully uploaded the attachment to the parent object.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/AttachmentResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Attachments
            description: >-
                Upload an attachment.


                This method uploads an attachment on an object and returns the compact

                record for the created attachment object. This is possible by either:


                - Providing the URL of the external resource being attached, or

                - Downloading the file content first and then uploading it as any other
                attachment. Note that it is not possible to attach

                files from third party services such as Dropbox, Box, Vimeo & Google
                Drive via the API


                The 100MB size limit on attachments in Asana is enforced on this
                endpoint.


                This endpoint expects a multipart/form-data encoded request containing
                the full contents of the file to be uploaded.


                Requests made should follow the HTTP/1.1 specification that line

                terminators are of the form `CRLF` or `\r\n` outlined

                [here](http://www.w3.org/Protocols/HTTP/1.1/draft-ietf-http-v11-spec-01#Basic-Rules)
                in order for the server to reliably and properly handle the request.
            operationId: createAttachmentForObject
            summary: Upload an attachment
    "/attachments/{attachment_gid}":
        parameters:
            - description: Globally unique identifier for the attachment.
              in: path
              name: attachment_gid
              required: true
              type: string
              x-env-variable: attachment
              x-example: "12345"
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        delete:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: Successfully deleted the specified attachment.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/EmptyResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Attachments
            description: |-
                Deletes a specific, existing attachment.

                Returns an empty data record.
            operationId: deleteAttachment
            summary: Delete an attachment
        get:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: Successfully retrieved the record for a single attachment.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/AttachmentResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "402":
                    description: >-
                        The request was valid, but the queried object or object mutation
                        specified in the request is above your current premium level.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "424":
                    description: >-
                        You have exceeded one of the enforced rate limits in the API. See
                        the [documentation on rate
                        limiting](https://developers.asana.com/docs/#rate-limits) for more
                        information.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "501":
                    description: There is an issue between the load balancers and Asana's API.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "503":
                    description: >-
                        Either the upstream service is unavailable to the API, or the API
                        has been intentionally shut off.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "504":
                    description: This request took too long to complete.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Attachments
            description: Get the full record for a single attachment.
            operationId: getAttachment
            summary: Get an attachment
    /batch:
        parameters:
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        post:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The requests to batch together via the Batch API.
                  in: body
                  name: body
                  required: true
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/BatchRequest"
                      type: object
            responses:
                "200":
                    description: Successfully completed the requested batch API operations.
                    schema:
                        properties:
                            data:
                                items:
                                    $ref: "#/definitions/BatchResponse"
                                type: array
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Batch API
            description: Make multiple requests in parallel to Asana's API.
            operationId: createBatchRequest
            summary: Submit parallel requests
    /custom_fields:
        parameters:
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
            - description: >-
                  Results per page.

                  The number of objects to return per page. The value must be between 1
                  and 100.
              in: query
              name: limit
              type: integer
              x-example: 50
            - description: >-
                  Offset token.

                  An offset to the next page returned by the API. A pagination request
                  will return an offset token, which can be used as an input parameter
                  to the next request. If an offset is not passed in, the API will
                  return the first page of results.

                  'Note: You can only pass in an offset that was returned to you via a
                  previously paginated request.'
              in: query
              name: offset
              type: string
              x-example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        post:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The custom field object to create.
                  in: body
                  name: body
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/CustomFieldRequest"
                      type: object
            responses:
                "201":
                    description: Custom field successfully created.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/CustomFieldResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Custom fields
            description: >-
                Creates a new custom field in a workspace. Every custom field is
                required

                to be created in a specific workspace, and this workspace cannot be

                changed once set.


                A custom field’s name must be unique within a workspace and not conflict

                with names of existing task properties such as `Due Date` or `Assignee`.

                A custom field’s type must be one of `text`, `enum`, `multi_enum`,
                `number`,

                `date`, or `people`.


                Returns the full record of the newly created custom field.
            operationId: createCustomField
            summary: Create a custom field
    "/custom_fields/{custom_field_gid}":
        parameters:
            - description: Globally unique identifier for the custom field.
              in: path
              name: custom_field_gid
              required: true
              type: string
              x-env-variable: custom_field
              x-example: "12345"
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        delete:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: The custom field was successfully deleted.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/EmptyResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Custom fields
            description: >-
                A specific, existing custom field can be deleted by making a DELETE
                request on the URL for that custom field.

                Locked custom fields can only be deleted by the user who locked the
                field.

                Returns an empty data record.
            operationId: deleteCustomField
            summary: Delete a custom field
        get:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: >-
                        Successfully retrieved the complete definition of a custom field’s
                        metadata.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/CustomFieldResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Custom fields
            description: >-
                Get the complete definition of a custom field’s metadata.


                Since custom fields can be defined for one of a number of types, and

                these types have different data and behaviors, there are fields that are

                relevant to a particular type. For instance, as noted above,
                enum_options

                is only relevant for the enum type and defines the set of choices that

                the enum could represent. The examples below show some of these

                type-specific custom field definitions.
            operationId: getCustomField
            summary: Get a custom field
        put:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The custom field object with all updated properties.
                  in: body
                  name: body
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/CustomFieldRequest"
                      type: object
            responses:
                "200":
                    description: The custom field was successfully updated.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/CustomFieldResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Custom fields
            description: >-
                A specific, existing custom field can be updated by making a PUT request
                on the URL for that custom field. Only the fields provided in the `data`
                block will be updated; any unspecified fields will remain unchanged

                When using this method, it is best to specify only those fields you wish
                to change, or else you may overwrite changes made by another user since
                you last retrieved the custom field.

                A custom field’s `type` cannot be updated.

                An enum custom field’s `enum_options` cannot be updated with this
                endpoint. Instead see “Work With Enum Options” for information on how to
                update `enum_options`.

                Locked custom fields can only be updated by the user who locked the
                field.

                Returns the complete updated custom field record.
            operationId: updateCustomField
            summary: Update a custom field
    "/custom_fields/{custom_field_gid}/enum_options":
        parameters:
            - description: Globally unique identifier for the custom field.
              in: path
              name: custom_field_gid
              required: true
              type: string
              x-env-variable: custom_field
              x-example: "12345"
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
            - description: >-
                  Results per page.

                  The number of objects to return per page. The value must be between 1
                  and 100.
              in: query
              name: limit
              type: integer
              x-example: 50
            - description: >-
                  Offset token.

                  An offset to the next page returned by the API. A pagination request
                  will return an offset token, which can be used as an input parameter
                  to the next request. If an offset is not passed in, the API will
                  return the first page of results.

                  'Note: You can only pass in an offset that was returned to you via a
                  previously paginated request.'
              in: query
              name: offset
              type: string
              x-example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        post:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The enum option object to create.
                  in: body
                  name: body
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/EnumOptionRequest"
                      type: object
            responses:
                "201":
                    description: Custom field enum option successfully created.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/EnumOption"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Custom fields
            description: >-
                Creates an enum option and adds it to this custom field’s list of enum
                options. A custom field can have at most 500 enum options (including
                disabled options). By default new enum options are inserted at the end
                of a custom field’s list.

                Locked custom fields can only have enum options added by the user who
                locked the field.

                Returns the full record of the newly created enum option.
            operationId: createEnumOptionForCustomField
            summary: Create an enum option
    "/custom_fields/{custom_field_gid}/enum_options/insert":
        parameters:
            - description: Globally unique identifier for the custom field.
              in: path
              name: custom_field_gid
              required: true
              type: string
              x-env-variable: custom_field
              x-example: "12345"
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        post:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The enum option object to create.
                  in: body
                  name: body
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/EnumOptionInsertRequest"
                      type: object
            responses:
                "200":
                    description: Custom field enum option successfully reordered.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/EnumOption"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Custom fields
            description: >-
                Moves a particular enum option to be either before or after another
                specified enum option in the custom field.

                Locked custom fields can only be reordered by the user who locked the
                field.
            operationId: insertEnumOptionForCustomField
            summary: Reorder a custom field's enum
    "/enum_options/{enum_option_gid}":
        parameters:
            - description: Globally unique identifier for the enum option.
              in: path
              name: enum_option_gid
              required: true
              type: string
              x-example: "124578"
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        put:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The enum option object to update
                  in: body
                  name: body
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/EnumOptionRequest"
                      type: object
            responses:
                "200":
                    description: Successfully updated the specified custom field enum.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/EnumOption"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Custom fields
            description: >-
                Updates an existing enum option. Enum custom fields require at least one
                enabled enum option.

                Locked custom fields can only be updated by the user who locked the
                field.

                Returns the full record of the updated enum option.
            operationId: updateEnumOption
            summary: Update an enum option
    /events:
        parameters:
            - description: A resource ID to subscribe to. The resource can be a task or project.
              in: query
              name: resource
              required: true
              type: string
              x-example: "12345"
            - description: >-
                  A sync token received from the last request, or none on first sync.
                  Events will be returned from the point in time that the sync token was
                  generated.

                  *Note: On your first request, omit the sync token. The response will
                  be the same as for an expired sync token, and will include a new valid
                  sync token.If the sync token is too old (which may happen from time to
                  time) the API will return a `412 Precondition Failed` error, and
                  include a fresh sync token in the response.*
              in: query
              name: sync
              required: false
              type: string
              x-example: de4774f6915eae04714ca93bb2f5ee81
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        get:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: Successfully retrieved events.
                    schema:
                        description: >-
                            The full record for all events that have occurred since the sync
                            token was created.
                        properties:
                            data:
                                items:
                                    $ref: "#/definitions/EventResponse"
                                type: array
                            has_more:
                                description: Indicates whether there are more events to pull.
                                example: true
                                type: boolean
                            sync:
                                description: >-
                                    A sync token to be used with the next call to the /events
                                    endpoint.
                                example: de4774f6915eae04714ca93bb2f5ee81
                                type: string
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Events
            description: >-
                Returns the full record for all events that have occurred since the sync

                token was created.


                A `GET` request to the endpoint `/[path_to_resource]/events` can be made
                in

                lieu of including the resource ID in the data for the request.


                Asana limits a single sync token to 100 events. If more than 100 events
                exist

                for a given resource, `has_more: true` will be returned in the response,
                indicating

                that there are more events to pull. 


                *Note: The resource returned will be the resource that triggered the

                event. This may be different from the one that the events were requested

                for. For example, a subscription to a project will contain events for

                tasks contained within the project.*
            operationId: getEvents
            summary: Get events on a resource
    /goal_relationships:
        get:
            produces:
                - application/json
            parameters:
                - allowEmptyValue: true
                  description: >-
                      Provides “pretty” output.

                      Provides the response in a “pretty” format. In the case of JSON this
                      means doing proper line breaking and indentation to make it
                      readable. This will take extra time and increase the response size
                      so it is advisable only to use this during debugging.
                  in: query
                  name: opt_pretty
                  required: false
                  type: boolean
                  x-example: true
                - collectionFormat: multi
                  description: >-
                      Defines fields to return.

                      Some requests return *compact* representations of objects in order
                      to conserve resources and complete the request more efficiently.
                      Other times requests return more information than you may need. This
                      option allows you to list the exact set of fields that the API
                      should be sure to return for the objects. The field names should be
                      provided as paths, described below.

                      The id of included objects will always be returned, regardless of
                      the field options.
                  in: query
                  items:
                      type: string
                  name: opt_fields
                  required: false
                  type: array
                  x-example:
                      - followers
                      - assignee
                - description: >-
                      Globally unique identifier for the supported goal in the goal
                      relationship.
                  in: query
                  name: supported_goal
                  required: true
                  type: string
                  x-example: "12345"
                - description: >-
                      If provided, filter to goal relationships with a given
                      resource_subtype.
                  in: query
                  name: resource_subtype
                  type: string
                  x-example: subgoal
            responses:
                "200":
                    description: Successfully retrieved the requested goal relationships.
                    schema:
                        properties:
                            data:
                                items:
                                    $ref: "#/definitions/GoalRelationshipCompact"
                                type: array
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Goal relationships
            description: Returns compact goal relationship records.
            operationId: getGoalRelationships
            summary: Get goal relationships
    "/goal_relationships/{goal_relationship_gid}":
        parameters:
            - description: Globally unique identifier for the goal relationship.
              in: path
              name: goal_relationship_gid
              required: true
              type: string
              x-env-variable: goal_relationship
              x-example: "12345"
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        get:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: Successfully retrieved the record for the goal relationship.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/GoalRelationshipResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Goal relationships
            description: >-
                Returns the complete updated goal relationship record for a single goal
                relationship.
            operationId: getGoalRelationship
            summary: Get a goal relationship
        put:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The updated fields for the goal relationship.
                  in: body
                  name: body
                  required: true
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/GoalRelationshipRequest"
                      type: object
            responses:
                "200":
                    description: Successfully updated the goal relationship.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/GoalRelationshipResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Goal relationships
            description: >-
                An existing goal relationship can be updated by making a PUT request on
                the URL for

                that goal relationship. Only the fields provided in the `data` block
                will be updated;

                any unspecified fields will remain unchanged.


                Returns the complete updated goal relationship record.
            operationId: updateGoalRelationship
            summary: Update a goal relationship
    /goals:
        parameters:
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
            - description: >-
                  Results per page.

                  The number of objects to return per page. The value must be between 1
                  and 100.
              in: query
              name: limit
              type: integer
              x-example: 50
            - description: >-
                  Offset token.

                  An offset to the next page returned by the API. A pagination request
                  will return an offset token, which can be used as an input parameter
                  to the next request. If an offset is not passed in, the API will
                  return the first page of results.

                  'Note: You can only pass in an offset that was returned to you via a
                  previously paginated request.'
              in: query
              name: offset
              type: string
              x-example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        get:
            produces:
                - application/json
            parameters:
                - description: Globally unique identifier for supporting portfolio.
                  in: query
                  name: portfolio
                  type: string
                  x-example: "159874"
                - description: Globally unique identifier for supporting project.
                  in: query
                  name: project
                  type: string
                  x-example: "512241"
                - description: >-
                      Filter to goals with is_workspace_level set to query value. Must be
                      used with the workspace parameter.
                  in: query
                  name: is_workspace_level
                  type: boolean
                  x-example: false
                - description: Globally unique identifier for the team.
                  in: query
                  name: team
                  type: string
                  x-example: "31326"
                - description: Globally unique identifier for the workspace.
                  in: query
                  name: workspace
                  type: string
                  x-example: "31326"
                - collectionFormat: multi
                  description: Globally unique identifiers for the time periods.
                  in: query
                  items:
                      type: string
                  name: time_periods
                  type: array
                  x-example: "221693,506165"
            responses:
                "200":
                    description: Successfully retrieved the requested goals.
                    schema:
                        properties:
                            data:
                                items:
                                    $ref: "#/definitions/GoalCompact"
                                type: array
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "402":
                    description: >-
                        The request was valid, but the queried object or object mutation
                        specified in the request is above your current premium level.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Goals
            description: Returns compact goal records.
            operationId: getGoals
            summary: Get goals
        post:
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                - description: The goal to create.
                  in: body
                  name: body
                  required: true
                  schema:
                      properties:
                          data:
                              $ref: "#/definitions/GoalRequest"
                      type: object
            responses:
                "201":
                    description: Successfully created a new goal.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/GoalResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "402":
                    description: >-
                        The request was valid, but the queried object or object mutation
                        specified in the request is above your current premium level.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Goals
            description: |-
                Creates a new goal in a workspace or team.

                Returns the full record of the newly created goal.
            operationId: createGoal
            summary: Create a goal
    "/goals/{goal_gid}":
        parameters:
            - description: Globally unique identifier for the goal.
              in: path
              name: goal_gid
              required: true
              type: string
              x-env-variable: goal
              x-example: "12345"
            - allowEmptyValue: true
              description: >-
                  Provides “pretty” output.

                  Provides the response in a “pretty” format. In the case of JSON this
                  means doing proper line breaking and indentation to make it readable.
                  This will take extra time and increase the response size so it is
                  advisable only to use this during debugging.
              in: query
              name: opt_pretty
              required: false
              type: boolean
              x-example: true
            - collectionFormat: multi
              description: >-
                  Defines fields to return.

                  Some requests return *compact* representations of objects in order to
                  conserve resources and complete the request more efficiently. Other
                  times requests return more information than you may need. This option
                  allows you to list the exact set of fields that the API should be sure
                  to return for the objects. The field names should be provided as
                  paths, described below.

                  The id of included objects will always be returned, regardless of the
                  field options.
              in: query
              items:
                  type: string
              name: opt_fields
              required: false
              type: array
              x-example:
                  - followers
                  - assignee
        delete:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: Successfully deleted the specified goal.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/EmptyResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
                        Check the documentation and the syntax of your request and try
                        again.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "401":
                    description: >-
                        A valid authentication token was not provided with the request, so
                        the API could not associate a user with the request.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "402":
                    description: >-
                        The request was valid, but the queried object or object mutation
                        specified in the request is above your current premium level.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "403":
                    description: >-
                        The authentication and request syntax was valid but the server is
                        refusing to complete the request. This can happen if you try to read
                        or write to objects or properties that the user does not have access
                        to.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "404":
                    description: >-
                        Either the request method and path supplied do not specify a known
                        action in the API, or the object specified by the request does not
                        exist.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                "500":
                    description: >-
                        There was a problem on Asana’s end. In the event of a server error
                        the response body should contain an error phrase. These phrases can
                        be used by Asana support to quickly look up the incident that caused
                        the server error. Some errors are due to server load, and will not
                        supply an error phrase.
                    schema:
                        $ref: "#/definitions/ErrorResponse"
            tags:
                - Goals
            description: >-
                A specific, existing goal can be deleted by making a DELETE request on
                the URL for that goal.


                Returns an empty data record.
            operationId: deleteGoal
            summary: Delete a goal
        get:
            produces:
                - application/json
            parameters: []
            responses:
                "200":
                    description: Successfully retrieved the record for a single goal.
                    schema:
                        properties:
                            data:
                                $ref: "#/definitions/GoalResponse"
                        type: object
                "400":
                    description: >-
                        This usually occurs because of a missing or malformed parameter.
[...]
