swagger: '2.0'
info:
  description: "Hello and welcome!\n\nTo make use of this API collection collection as it's written, please duplicate [this database template](https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae?v=dc1b92875fb94f10834ba8d36549bd2a).\n\n\uFEFFUnder the `Variables` tab, add your environment variables to start making requests. You will need to [create an integration](https://www.notion.so/my-integrations) to retrieve an API token. You will also need additional values, such as a database ID and page ID, which can be found in your Notion workspace or from the database template mentioned above.\n\nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](https://developers.notion.com/)\uFEFF.\n\nPlease note: Pages that are parented by a database _must_ have the same properties as the parent database. If you are not using the database template provided, the request `body` for the page endpoints included in this collection should be updated to match the properties in the parent database being used. See documentation for [Creating a page](https://developers.notion.com/reference/post-page) for more information.\n\nTo learn more about creating an access token, see our [official documentation](https://developers.notion.com/reference/create-a-token) and read our [Authorization](https://developers.notion.com/docs/authorization#step-3-send-the-code-in-a-post-request-to-the-notion-api) guide.\n\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-20b5996xv-DzJdLiympy6jP0GGzu3AMg)\uFEFF."
  title: Notion API
  version: 1.0.0
host: api.notion.com
basePath: /
schemes:
  - https
paths:
  '/v1/blocks/{id}':
    delete:
      produces:
        - application/json
      parameters:
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{BLOCK_ID}}'
      responses:
        '200':
          description: OK
          examples:
            application/json:
              archived: true
              created_by:
                id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                object: user
              created_time: '2021-08-06T17:46:00.000Z'
              has_children: false
              id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
              last_edited_by:
                id: 92a680bb-6970-4726-952b-4f4c03bff617
                object: user
              last_edited_time: '2022-02-24T22:26:00.000Z'
              object: block
              paragraph:
                text:
                  - annotations:
                      bold: false
                      code: false
                      color: default
                      italic: false
                      strikethrough: false
                      underline: false
                    href: null
                    plain_text: hello to you
                    text:
                      content: hello to you
                      link: null
                    type: text
              type: paragraph
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            type: object
      tags:
        - Blocks
      summary: Delete a block
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{BLOCK_ID}}'
      responses:
        '200':
          description: OK
          examples:
            application/json:
              created_time: '2021-08-06T17:46:00.000Z'
              has_children: false
              id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
              last_edited_time: '2021-08-12T00:12:00.000Z'
              object: block
              paragraph:
                text:
                  - annotations:
                      bold: false
                      code: false
                      color: default
                      italic: false
                      strikethrough: false
                      underline: false
                    href: null
                    plain_text: hello to you
                    text:
                      content: hello to you
                      link: null
                    type: text
              type: paragraph
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            type: object
      tags:
        - Blocks
      summary: Retrieve a block
    patch:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{BLOCK_ID}}'
        - in: body
          name: body
          schema:
            example:
              paragraph:
                rich_text:
                  - text:
                      content: hello to you
                    type: text
            type: object
      responses:
        '200':
          description: OK
          examples:
            application/json:
              created_time: '2021-08-06T17:46:00.000Z'
              has_children: false
              id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
              last_edited_time: '2021-08-12T00:12:00.000Z'
              object: block
              paragraph:
                text:
                  - annotations:
                      bold: false
                      code: false
                      color: default
                      italic: false
                      strikethrough: false
                      underline: false
                    href: null
                    plain_text: hello to you
                    text:
                      content: hello to you
                      link: null
                    type: text
              type: paragraph
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            type: object
      tags:
        - Blocks
      description: >-
        This endpoint allows you to update block content. [See Full
        Documentation](https://developers.notion.com/reference/update-a-block)
      summary: Update a block
  '/v1/blocks/{id}/children':
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: query
          name: page_size
          type: integer
          x-example: '100'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{PAGE_ID}}'
      responses:
        '200':
          description: OK
          examples:
            application/json:
              has_more: false
              next_cursor: null
              object: list
              results:
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 48c1ffb5-2789-4025-937b-2c35eaaaab3f
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  type: unsupported
                  unsupported: {}
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: e381a0a3-4efb-4ba9-aa93-45b70fa9ce7f
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          I think we can all agree that Silicon Valley needs
                          more adult supervision right about now.
                        text:
                          content: >-
                            I think we can all agree that Silicon Valley needs
                            more adult supervision right about now.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: ce5f79ac-8145-44ab-be3b-8ad143d6f8a7
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Is the solution for its companies to hire a chief
                          ethics officer?
                        text:
                          content: >-
                            Is the solution for its companies to hire a chief
                            ethics officer?
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 0387b374-7847-4ddc-bc53-6b0813ce4ed4
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          While some tech companies like Google have top
                          compliance officers and others turn to legal teams to
                          police themselves, no big tech companies that I know
                          of have yet taken this step. But a lot of them seem to
                          be talking about it, and I’ve discussed the idea with
                          several chief executives recently. Why? Because
                          slowly, then all at once, it feels like too many
                          digital leaders have lost their minds.
                        text:
                          content: >-
                            While some tech companies like Google have top
                            compliance officers and others turn to legal teams
                            to police themselves, no big tech companies that I
                            know of have yet taken this step. But a lot of them
                            seem to be talking about it, and I’ve discussed the
                            idea with several chief executives recently. Why?
                            Because slowly, then all at once, it feels like too
                            many digital leaders have lost their minds.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: da035311-5af3-48bc-8279-d28d9f4ef2e2
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          It’s probably no surprise, considering the complex
                          problems the tech industry faces. As one ethical
                          quandary after another has hit its profoundly
                          ill-prepared executives, their once-pristine
                          reputations have fallen like palm trees in a
                          hurricane. These last two weeks alone show how tech is
                          stumbling to react to big world issues armed with only
                          bubble world skills:
                        text:
                          content: >-
                            It’s probably no surprise, considering the complex
                            problems the tech industry faces. As one ethical
                            quandary after another has hit its profoundly
                            ill-prepared executives, their once-pristine
                            reputations have fallen like palm trees in a
                            hurricane. These last two weeks alone show how tech
                            is stumbling to react to big world issues armed with
                            only bubble world skills:
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 63a60fca-4a11-43eb-8773-c5f0164a3117
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          As a journalist is beheaded and dismembered at the
                          direction of Saudi Arabian leaders (allegedly, but the
                          killers did bring a bone saw), Silicon Valley is
                          swimming in oceans of money from the kingdom’s Public
                          Investment Fund. Saudi funding includes hundreds of
                          millions for Magic Leap, and huge investments in hot
                          public companies like Tesla. Most significantly:
                          Saudis have invested about $45 billion in SoftBank’s
                          giant Vision Fund, which has in turn doused the tech
                          landscape — $4.4 billion to WeWork, $250 million to
                          Slack, and $300 million to the dog-walking app Wag. In
                          total Uber has gotten almost $14 billion, either
                          through direct investments from the Public Investment
                          Fund or through the Saudis’ funding of the Vision
                          Fund. A billion here, a billion there and it all adds
                          up.
                        text:
                          content: >-
                            As a journalist is beheaded and dismembered at the
                            direction of Saudi Arabian leaders (allegedly, but
                            the killers did bring a bone saw), Silicon Valley is
                            swimming in oceans of money from the kingdom’s
                            Public Investment Fund. Saudi funding includes
                            hundreds of millions for Magic Leap, and huge
                            investments in hot public companies like Tesla. Most
                            significantly: Saudis have invested about $45
                            billion in SoftBank’s giant Vision Fund, which has
                            in turn doused the tech landscape — $4.4 billion to
                            WeWork, $250 million to Slack, and $300 million to
                            the dog-walking app Wag. In total Uber has gotten
                            almost $14 billion, either through direct
                            investments from the Public Investment Fund or
                            through the Saudis’ funding of the Vision Fund. A
                            billion here, a billion there and it all adds up.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 8c58c8f1-86ae-4a14-b6b9-74f5fa579620
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: '['
                        text:
                          content: '['
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: 'Kara Swisher answered your questions about her column '
                        text:
                          content: >-
                            Kara Swisher answered your questions about her
                            column 
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: >-
                          https://twitter.com/karaswisher/status/1054842303922298880
                        plain_text: on Twitter
                        text:
                          content: on Twitter
                          link:
                            url: >-
                              https://twitter.com/karaswisher/status/1054842303922298880
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: .
                        text:
                          content: .
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: ']'
                        text:
                          content: ']'
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 875d3aff-086b-45da-9ed1-bc3ddb185229
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Facebook introduced a new home video device called
                          Portal, and promised that what could be seen as a
                          surveillance tool would not share data for the sake of
                          ad targeting. Soon after, as 
                        text:
                          content: >-
                            Facebook introduced a new home video device called
                            Portal, and promised that what could be seen as a
                            surveillance tool would not share data for the sake
                            of ad targeting. Soon after, as 
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: >-
                          https://www.recode.net/2018/10/16/17966102/facebook-portal-ad-targeting-data-collection
                        plain_text: reported by Recode
                        text:
                          content: reported by Recode
                          link:
                            url: >-
                              https://www.recode.net/2018/10/16/17966102/facebook-portal-ad-targeting-data-collection
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          , Facebook admitted that “data about who you call and
                          data about which apps you use on Portal 
                        text:
                          content: >-
                            , Facebook admitted that “data about who you call
                            and data about which apps you use on Portal 
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: can
                        text:
                          content: can
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: ' be used to target you with ads on other Facebook-owned properties.” Oh. Um. That’s awkward.'
                        text:
                          content: ' be used to target you with ads on other Facebook-owned properties.” Oh. Um. That’s awkward.'
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 306ab0fb-6daa-4c5b-b1f7-f51a5f92b6ff
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          After agreeing to pay $20 million to the Securities
                          and Exchange Commission for an ill-advised tweet about
                          possible funding (from the Saudis, by the way), the
                          Tesla co-founder Elon Musk proceeded to troll the
                          regulatory agency on, you got it, Twitter. And even
                          though the 
                        text:
                          content: >-
                            After agreeing to pay $20 million to the Securities
                            and Exchange Commission for an ill-advised tweet
                            about possible funding (from the Saudis, by the
                            way), the Tesla co-founder Elon Musk proceeded to
                            troll the regulatory agency on, you got it, Twitter.
                            And even though the 
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: 'https://www.sec.gov/news/press-release/2018-226'
                        plain_text: >-
                          settlement called for some kind of control of his
                          communications
                        text:
                          content: >-
                            settlement called for some kind of control of his
                            communications
                          link:
                            url: 'https://www.sec.gov/news/press-release/2018-226'
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          , it appears that Mr. Musk will continue tweeting
                          until someone steals his phone.
                        text:
                          content: >-
                            , it appears that Mr. Musk will continue tweeting
                            until someone steals his phone.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 122b1457-4129-4513-abaa-7cce7d66e4a1
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Finally, Google took six months to make public that
                          user data on its social network, Google Plus, 
                        text:
                          content: >-
                            Finally, Google took six months to make public that
                            user data on its social network, Google Plus, 
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: >-
                          https://www.nytimes.com/2018/10/08/technology/google-plus-security-disclosure.html?module=inline
                        plain_text: had been exposed
                        text:
                          content: had been exposed
                          link:
                            url: >-
                              https://www.nytimes.com/2018/10/08/technology/google-plus-security-disclosure.html?module=inline
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: ' and that profiles of up to 500,000 users may have been compromised. While the service failed long ago, because it was pretty much designed by antisocial people, this lack of concern for privacy was profound.'
                        text:
                          content: ' and that profiles of up to 500,000 users may have been compromised. While the service failed long ago, because it was pretty much designed by antisocial people, this lack of concern for privacy was profound.'
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 4d4af599-556f-4d8b-af8e-4d01ebe2aa27
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Grappling with what to say and do about the disasters
                          they themselves create is only the beginning. Then
                          there are the broader issues that the denizens of
                          Silicon Valley expect their employers to have a stance
                          on: immigration, income inequality, artificial
                          intelligence, automation, transgender rights, climate
                          change, privacy, data rights and whether tech
                          companies should be helping the government do
                          controversial things. It’s an ethical swamp out there.
                        text:
                          content: >-
                            Grappling with what to say and do about the
                            disasters they themselves create is only the
                            beginning. Then there are the broader issues that
                            the denizens of Silicon Valley expect their
                            employers to have a stance on: immigration, income
                            inequality, artificial intelligence, automation,
                            transgender rights, climate change, privacy, data
                            rights and whether tech companies should be helping
                            the government do controversial things. It’s an
                            ethical swamp out there.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: f5775df5-59eb-4533-a2cb-e150412ec4f6
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          That’s why, in a recent interview, Marc Benioff, the
                          co-chief executive and a founder of Salesforce, told
                          me he was in the process of hiring a chief ethical
                          officer to help anticipate and address any thorny
                          conundrums it might encounter as a business — like the
                          decision it had to make a few months back about
                          whether it should stop providing recruitment software
                          for Customs and Border Protection because of the
                          government’s policy of separating immigrant families
                          at the border.
                        text:
                          content: >-
                            That’s why, in a recent interview, Marc Benioff, the
                            co-chief executive and a founder of Salesforce, told
                            me he was in the process of hiring a chief ethical
                            officer to help anticipate and address any thorny
                            conundrums it might encounter as a business — like
                            the decision it had to make a few months back about
                            whether it should stop providing recruitment
                            software for Customs and Border Protection because
                            of the government’s policy of separating immigrant
                            families at the border.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 31405c6e-7ece-4667-8c4d-36c9d79a0bfa
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Amid much criticism, Mr. Benioff decided to keep the
                          contract, but said he would focus more on social and
                          political issues.
                        text:
                          content: >-
                            Amid much criticism, Mr. Benioff decided to keep the
                            contract, but said he would focus more on social and
                            political issues.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: a2ab7e8a-d521-401d-89ae-9eb27efb9990
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          At a recent company event, he elaborated: “We can have
                          a structured conversation not just with our own
                          employees myopically, but by bringing in the key
                          advisers, supporters and pundits and philosophers and
                          everybody necessary to ask the question if what we are
                          doing today is ethical and humane.”
                        text:
                          content: >-
                            At a recent company event, he elaborated: “We can
                            have a structured conversation not just with our own
                            employees myopically, but by bringing in the key
                            advisers, supporters and pundits and philosophers
                            and everybody necessary to ask the question if what
                            we are doing today is ethical and humane.”
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: a4498e1e-8b85-48d7-802a-db447ca7d1ac
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          23andMe has also toyed with the idea of hiring a chief
                          ethics officer. In an interview I did this week with
                          its chief executive, Anne Wojcicki, she said the
                          genetics company had even interviewed candidates, but
                          that many of them wanted to remain in academia to be
                          freer to ponder these issues. She acknowledged that
                          the collection of DNA data is rife with ethical
                          considerations, but said, “I think it has to be our
                          management and leaders who have to add this to our
                          skill set, rather than just hire one person to
                          determine this.”
                        text:
                          content: >-
                            23andMe has also toyed with the idea of hiring a
                            chief ethics officer. In an interview I did this
                            week with its chief executive, Anne Wojcicki, she
                            said the genetics company had even interviewed
                            candidates, but that many of them wanted to remain
                            in academia to be freer to ponder these issues. She
                            acknowledged that the collection of DNA data is rife
                            with ethical considerations, but said, “I think it
                            has to be our management and leaders who have to add
                            this to our skill set, rather than just hire one
                            person to determine this.”
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: cbf7e7e0-5552-4b3f-b09e-9dcca120931c
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          When asked about the idea of a single source of wisdom
                          on ethics, some point out that legal or
                          diversity/inclusion departments are designed for that
                          purpose and that the ethics should really come from
                          the top — the chief executive.
                        text:
                          content: >-
                            When asked about the idea of a single source of
                            wisdom on ethics, some point out that legal or
                            diversity/inclusion departments are designed for
                            that purpose and that the ethics should really come
                            from the top — the chief executive.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: d24b2887-0f1f-4e91-99c1-c295bed8ad65
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Also of concern is the possibility that a single
                          person would not get listened to or, worse, get
                          steamrollered. And, if the person was bad at the job,
                          of course, it could drag the whole thing down.
                        text:
                          content: >-
                            Also of concern is the possibility that a single
                            person would not get listened to or, worse, get
                            steamrollered. And, if the person was bad at the
                            job, of course, it could drag the whole thing down.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 78c55f65-c8b8-4364-a369-c40699968e90
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Others are more worried that the move would be nothing
                          but window dressing. One consultant who focuses on
                          ethics, but did not want to be named, told me: “We
                          haven’t even defined ethics, so what even is ethical
                          use, especially for Silicon Valley companies that are
                          babies in this game?”
                        text:
                          content: >-
                            Others are more worried that the move would be
                            nothing but window dressing. One consultant who
                            focuses on ethics, but did not want to be named,
                            told me: “We haven’t even defined ethics, so what
                            even is ethical use, especially for Silicon Valley
                            companies that are babies in this game?”
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 0b492111-1586-4a73-8848-04f0c391aadc
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          How can an industry that, unlike other business
                          sectors, persistently promotes itself as doing good,
                          learn to do that in reality? Do you want to not do
                          harm, or do you want to do good? These are two totally
                          different things.
                        text:
                          content: >-
                            How can an industry that, unlike other business
                            sectors, persistently promotes itself as doing good,
                            learn to do that in reality? Do you want to not do
                            harm, or do you want to do good? These are two
                            totally different things.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 302f8229-2404-460b-8c3c-e7058b4365e5
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          And how do you put an official ethical system in place
                          without it seeming like you’re telling everyone how to
                          behave? Who gets to decide those rules anyway, setting
                          a moral path for the industry and — considering tech
                          companies’ enormous power — the world.
                        text:
                          content: >-
                            And how do you put an official ethical system in
                            place without it seeming like you’re telling
                            everyone how to behave? Who gets to decide those
                            rules anyway, setting a moral path for the industry
                            and — considering tech companies’ enormous power —
                            the world.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 8f9bc91c-5662-4b3f-a110-809f46b79f49
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: >-
                          Like I said, adult supervision. Or maybe, better
                          still, Silicon Valley itself has to grow up.
                        text:
                          content: >-
                            Like I said, adult supervision. Or maybe, better
                            still, Silicon Valley itself has to grow up.
                          link: null
                        type: text
                  type: paragraph
                - created_time: '2021-04-27T20:38:19.437Z'
                  has_children: false
                  id: 7bea1831-a25c-4b3e-8c9b-b37de814f948
                  last_edited_time: '2021-04-27T20:38:19.437Z'
                  object: block
                  paragraph:
                    text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: 'Follow The New York Times Opinion section on '
                        text:
                          content: 'Follow The New York Times Opinion section on '
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: 'https://www.facebook.com/nytopinion'
                        plain_text: Facebook
                        text:
                          content: Facebook
                          link:
                            url: 'https://www.facebook.com/nytopinion'
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: ', '
                        text:
                          content: ', '
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: 'http://twitter.com/NYTOpinion'
                        plain_text: Twitter (@NYTopinion)
                        text:
                          content: Twitter (@NYTopinion)
                          link:
                            url: 'http://twitter.com/NYTOpinion'
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: ' and '
                        text:
                          content: ' and '
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: 'https://www.instagram.com/nytopinion/'
                        plain_text: Instagram
                        text:
                          content: Instagram
                          link:
                            url: 'https://www.instagram.com/nytopinion/'
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: ', and sign up for the '
                        text:
                          content: ', and sign up for the '
                          link: null
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: 'http://www.nytimes.com/newsletters/opiniontoday/'
                        plain_text: Opinion Today newsletter
                        text:
                          content: Opinion Today newsletter
                          link:
                            url: 'http://www.nytimes.com/newsletters/opiniontoday/'
                        type: text
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: true
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: .
                        text:
                          content: .
                          link: null
                        type: text
                  type: paragraph
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
            cf-request-id:
              type: string
          schema:
            type: object
      tags:
        - Blocks
      summary: Retrieve block children
    patch:
      consumes: []
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          x-example: Bearer secret_t1CdN9S8yicG5eWLUOfhcWaOscVnFXns
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{PAGE_ID}}'
        - in: body
          name: body
          schema:
            example: >-
              "{\n\t\"children\": [\n\t\t{\n\t\t\t\"object\":
              \"block\",\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\":
              {\n\t\t\t\t\"rich_text\": [{ \"type\": \"text\", \"text\": {
              \"content\": \"Lacinato kale\" }
              }]\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\":
              \"block\",\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\":
              {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\":
              \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\":
              \"Lacinato kale is a variety of kale with a long tradition in
              Italian cuisine, especially that of Tuscany. It is also known as
              Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale,
              palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\":
              { \"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"
              }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t]\n}"
            type: string
      responses:
        '200':
          description: OK
          examples:
            application/json:
              child_page:
                title: 'Who Will Teach Silicon Valley to Be Ethical? '
              created_time: '2021-04-27T20:38:19.437Z'
              has_children: true
              id: a1712d54-53e4-4893-a69d-4d581cd2c845
              last_edited_time: '2021-05-12T06:07:37.724Z'
              object: block
              type: child_page
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
            cf-request-id:
              type: string
          schema:
            type: object
      tags:
        - Blocks
      summary: Append block children
  /v1/comments:
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: query
          name: block_id
          type: string
          x-example: '{{BLOCK_ID}}'
        - in: query
          name: page_size
          type: integer
          x-example: '100'
      responses:
        '200':
          description: OK
          examples:
            application/json:
              comment: {}
              has_more: false
              next_cursor: null
              object: list
              results:
                - created_by:
                    id: 952f41bb-da96-4d36-9c2e-74924eee8ef1
                    object: user
                  created_time: '2022-07-15T21:38:00.000Z'
                  discussion_id: ce18f8c6-ef2a-427f-b416-43531fc7c117
                  id: ed4c62f2-c0ad-4081-b6b8-dad025637741
                  last_edited_time: '2022-07-15T21:38:00.000Z'
                  object: comment
                  parent:
                    block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                    type: block_id
                  rich_text:
                    - annotations:
                        bold: false
                        code: false
                        color: default
                        italic: false
                        strikethrough: false
                        underline: false
                      href: null
                      plain_text: Please cite your source
                      text:
                        content: Please cite your source
                        link: null
                      type: text
                - created_by:
                    id: 952f41bb-da96-4d36-9c2e-74924eee8ef1
                    object: user
                  created_time: '2022-07-15T21:38:00.000Z'
                  discussion_id: e63f446f-a84a-4cab-8f5a-b9e7779ecb67
                  id: 8949cb38-aee6-4c62-ba96-6ef7df9b4cf2
                  last_edited_time: '2022-07-15T21:38:00.000Z'
                  object: comment
                  parent:
                    block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                    type: block_id
                  rich_text:
                    - annotations:
                        bold: false
                        code: false
                        color: default
                        italic: false
                        strikethrough: false
                        underline: false
                      href: null
                      plain_text: What other nutrients does kale have?
                      text:
                        content: What other nutrients does kale have?
                        link: null
                      type: text
                - created_by:
                    id: e450a39e-9051-4d36-bc4e-8581611fc592
                    object: user
                  created_time: '2022-07-18T21:48:00.000Z'
                  discussion_id: ce18f8c6-ef2a-427f-b416-43531fc7c117
                  id: 6cd52483-6d55-4f8a-a724-4adb1c17ed43
                  last_edited_time: '2022-07-18T21:48:00.000Z'
                  object: comment
                  parent:
                    block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                    type: block_id
                  rich_text:
                    - annotations:
                        bold: false
                        code: false
                        color: default
                        italic: false
                        strikethrough: false
                        underline: false
                      href: >-
                        https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                      plain_text: >-
                        https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                      text:
                        content: >-
                          https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                        link:
                          url: >-
                            https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                      type: text
              type: comment
          headers:
            Connection:
              type: string
            Content-Length:
              type: integer
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Keep-Alive:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            Vary:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-Permitted-Cross-Domain-Policies:
              type: string
            X-XSS-Protection:
              type: integer
          schema:
            type: object
      tags:
        - Comments
      description: Retrieve a user object using the ID specified in the request path.
      summary: Retrieve comments
    post:
      consumes: []
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: body
          name: body
          schema:
            example: >-
              "{\n    \"discussion_id\": \"{{DISCUSSION_ID}}\",\n   
              \"rich_text\": [\n        {\n            \"text\":
              {\n                \"content\":
              \"https://www.healthline.com/nutrition/10-proven-benefits-of-kale\",\n               
              \"link\": {\n                    \"type\":
              \"url\",\n                    \"url\":
              \"https://www.healthline.com/nutrition/10-proven-benefits-of-kale\"\n               
              }\n            }\n        }\n    ]\n}"
            type: string
      responses:
        '200':
          description: OK
          examples:
            application/json:
              created_by:
                id: e450a39e-9051-4d36-bc4e-8581611fc592
                object: user
              created_time: '2022-07-18T21:48:00.000Z'
              discussion_id: ce18f8c6-ef2a-427f-b416-43531fc7c117
              id: 6cd52483-6d55-4f8a-a724-4adb1c17ed43
              last_edited_time: '2022-07-18T21:48:00.000Z'
              object: comment
              parent:
                block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                type: block_id
              rich_text:
                - annotations:
                    bold: false
                    code: false
                    color: default
                    italic: false
                    strikethrough: false
                    underline: false
                  href: >-
                    https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                  plain_text: >-
                    https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                  text:
                    content: >-
                      https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                    link:
                      url: >-
                        https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                  type: text
          headers:
            Connection:
              type: string
            Content-Length:
              type: integer
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Keep-Alive:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            Vary:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-Permitted-Cross-Domain-Policies:
              type: string
            X-XSS-Protection:
              type: integer
          schema:
            type: object
      tags:
        - Comments
      summary: Add comment to discussion
  /v1/databases/:
    post:
      consumes: []
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: body
          name: body
          schema:
            example: "\"{\\n    \\\"parent\\\": {\\n        \\\"type\\\": \\\"page_id\\\",\\n        \\\"page_id\\\": \\\"{{PAGE_ID}}\\\"\\n    },\\n    \\\"title\\\": [\\n        {\\n            \\\"type\\\": \\\"text\\\",\\n            \\\"text\\\": {\\n                \\\"content\\\": \\\"Grocery List\\\",\\n                \\\"link\\\": null\\n            }\\n        }\\n    ],\\n    \\\"properties\\\": {\\n        \\\"Name\\\": {\\n            \\\"title\\\": {}\\n        },\\n        \\\"Description\\\": {\\n            \\\"rich_text\\\": {}\\n        },\\n        \\\"In stock\\\": {\\n            \\\"checkbox\\\": {}\\n        },\\n        \\\"Food group\\\": {\\n            \\\"select\\\": {\\n                \\\"options\\\": [\\n                    {\\n                        \\\"name\\\": \\\"\U0001F966Vegetable\\\",\\n                        \\\"color\\\": \\\"green\\\"\\n                    },\\n                    {\\n                        \\\"name\\\": \\\"\U0001F34EFruit\\\",\\n                        \\\"color\\\": \\\"red\\\"\\n                    },\\n                    {\\n                        \\\"name\\\": \\\"\U0001F4AAProtein\\\",\\n                        \\\"color\\\": \\\"yellow\\\"\\n                    }\\n                ]\\n            }\\n        },\\n        \\\"Price\\\": {\\n            \\\"number\\\": {\\n                \\\"format\\\": \\\"dollar\\\"\\n            }\\n        },\\n        \\\"Last ordered\\\": {\\n            \\\"date\\\": {}\\n        },\\n        \\\"Store availability\\\": {\\n            \\\"type\\\": \\\"multi_select\\\",\\n            \\\"multi_select\\\": {\\n                \\\"options\\\": [\\n                    {\\n                        \\\"name\\\": \\\"Duc Loi Market\\\",\\n                        \\\"color\\\": \\\"blue\\\"\\n                    },\\n                    {\\n                        \\\"name\\\": \\\"Rainbow Grocery\\\",\\n                        \\\"color\\\": \\\"gray\\\"\\n                    },\\n                    {\\n                        \\\"name\\\": \\\"Nijiya Market\\\",\\n                        \\\"color\\\": \\\"purple\\\"\\n                    },\\n                    {\\n                        \\\"name\\\": \\\"Gus's Community Market\\\",\\n                        \\\"color\\\": \\\"yellow\\\"\\n                    }\\n                ]\\n            }\\n        },\\n        \\\"+1\\\": {\\n            \\\"people\\\": {}\\n        },\\n        \\\"Photo\\\": {\\n            \\\"files\\\": {}\\n        }\\n    }\\n}\""
            type: string
      responses:
        '200':
          description: OK
          examples:
            application/json:
              archived: false
              cover: null
              created_by:
                id: 92a680bb-6970-4726-952b-4f4c03bff617
                object: user
              created_time: '2022-02-24T22:06:00.000Z'
              icon: null
              id: 23cde96c-0ad8-41d8-bfa2-b477c63dd52a
              last_edited_by:
                id: 92a680bb-6970-4726-952b-4f4c03bff617
                object: user
              last_edited_time: '2022-02-24T22:06:00.000Z'
              object: database
              parent:
                page_id: c4d39556-6364-46a1-8a61-ebbb668f7445
                type: page_id
              properties:
                '+1':
                  id: '%5CSky'
                  name: '+1'
                  people: {}
                  type: people
                Description:
                  id: '%3EWW~'
                  name: Description
                  rich_text: {}
                  type: rich_text
                Food group:
                  id: q%5DO%5B
                  name: Food group
                  select:
                    options:
                      - color: green
                        id: 392af858-f42f-43ea-a171-7c0ca5c0a683
                        name: "\U0001F966Vegetable"
                      - color: red
                        id: df461a24-14c6-494a-8c61-55775fedbdcd
                        name: "\U0001F34EFruit"
                      - color: yellow
                        id: 0ff22aaa-348e-4194-83c2-67a76dfb10fc
                        name: "\U0001F4AAProtein"
                  type: select
                In stock:
                  checkbox: {}
                  id: Pya%5C
                  name: In stock
                  type: checkbox
                Last ordered:
                  date: {}
                  id: O%5C%3BK
                  name: Last ordered
                  type: date
                Name:
                  id: title
                  name: Name
                  title: {}
                  type: title
                Photo:
                  files: {}
                  id: dSrT
                  name: Photo
                  type: files
                Price:
                  id: t%60jj
                  name: Price
                  number:
                    format: dollar
                  type: number
                Store availability:
                  id: jRd%3E
                  multi_select:
                    options:
                      - color: blue
                        id: 8e6441ee-8f17-4833-a2fe-68af5dced24f
                        name: Duc Loi Market
                      - color: gray
                        id: 64a9da77-9805-461f-9773-1e176fdbd203
                        name: Rainbow Grocery
                      - color: purple
                        id: 012d0436-66a1-4613-a1bd-314b1d1d059b
                        name: Nijiya Market
                      - color: yellow
                        id: 63ab31f9-8cbd-4d02-8688-752376f455ea
                        name: Gus's Community Market
                  name: Store availability
                  type: multi_select
              title:
                - annotations:
                    bold: false
                    code: false
                    color: default
                    italic: false
                    strikethrough: false
                    underline: false
                  href: null
                  plain_text: Grocery List
                  text:
                    content: Grocery List
                    link: null
                  type: text
              url: 'https://www.notion.so/23cde96c0ad841d8bfa2b477c63dd52a'
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            type: object
      tags:
        - Databases
      summary: Create a database
  '/v1/databases/{id}':
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{DATABASE_ID}}'
      responses:
        '200':
          description: OK
          examples:
            application/json:
              archived: false
              cover: null
              created_by:
                id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                object: user
              created_time: '2021-04-27T20:38:00.000Z'
              icon: null
              id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
              last_edited_by:
                id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                object: user
              last_edited_time: '2022-02-24T22:14:00.000Z'
              object: database
              parent:
                page_id: c4d39556-6364-46a1-8a61-ebbb668f7445
                type: page_id
              properties:
                Author:
                  id: qNw_
                  multi_select:
                    options:
                      - color: default
                        id: 15592971-7b30-43d5-9406-2eb69b13fcae
                        name: Spencer Greenberg
                      - color: default
                        id: b80a988e-dccf-4f74-b764-6ca0e49ed1b8
                        name: Seth Stephens-Davidowitz
                      - color: default
                        id: 0e71ee06-199d-46a4-834c-01084c8f76cb
                        name: Andrew Russell
                      - color: default
                        id: 5807ec38-4879-4455-9f30-5352e90e8b79
                        name: Lee Vinsel
                      - color: default
                        id: 4cf10a64-f3da-449c-8e04-ce6e338bbdbd
                        name: Megan Greenwell
                      - color: default
                        id: 833e2c78-35ed-4601-badc-50c323341d76
                        name: Kara Swisher
                      - color: default
                        id: 82e594e2-b1c5-4271-ac19-1a723a94a533
                        name: Paul Romer
                      - color: default
                        id: ae3a2cbe-1fc9-4376-be35-331628b34623
                        name: Karen Swallow Prior
                      - color: default
                        id: da068e78-dfe2-4434-9fd7-b7450b3e5830
                        name: Judith Shulevitz
                  name: Author
                  type: multi_select
                Link:
                  id: VVMi
                  name: Link
                  type: url
                  url: {}
                Name:
                  id: title
                  name: Name
                  title: {}
                  type: title
                Publisher:
                  id: '%3E%24Pb'
                  name: Publisher
                  select:
                    options:
                      - color: default
                        id: c5ee409a-f307-4176-99ee-6e424fa89afa
                        name: NYT
                      - color: blue
                        id: 1b9b0c0c-17b0-4292-ad12-1364a51849de
                        name: Netflix
                      - color: brown
                        id: f3533637-278f-4501-b394-d9753bf3c101
                        name: Indie
                      - color: yellow
                        id: e70d713c-4be4-4b40-a44d-fb413c8b9d7e
                        name: Bon Appetit
                      - color: pink
                        id: 9c2bd667-0a10-4be4-a044-35a537a14ab9
                        name: Franklin Institute
                      - color: orange
                        id: 6849b5f0-e641-4ec5-83cb-1ffe23011060
                        name: Springer
                      - color: gray
                        id: 6a5bff63-a72d-4464-a5d0-1a601af2adf6
                        name: Emerald Group
                      - color: red
                        id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                        name: The Atlantic
                  type: select
                Publishing/Release Date:
                  date: {}
                  id: '%3Fex%2B'
                  name: Publishing/Release Date
                  type: date
                Read:
                  checkbox: {}
                  id: _MWJ
                  name: Read
                  type: checkbox
                Score /5:
                  id: )Y7%22
                  name: Score /5
                  select:
                    options:
                      - color: default
                        id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                        name: ⭐️⭐️⭐️⭐️⭐️
                      - color: default
                        id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                        name: ⭐️⭐️⭐️⭐️
                      - color: default
                        id: 9b1e1349-8e24-40ba-bbca-84a61296bc81
                        name: ⭐️⭐️⭐️
                      - color: default
                        id: 66d3d050-086c-4a91-8c56-d55dc67e7789
                        name: ⭐️⭐️
                      - color: default
                        id: d3782c76-0396-467f-928e-46bf0c9d5fba
                        name: ⭐️
                  type: select
                Status:
                  id: '%60zz5'
                  name: Status
                  select:
                    options:
                      - color: yellow
                        id: 8c4a056e-6709-4dd1-ba58-d34d9480855a
                        name: Ready to Start
                      - color: red
                        id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                        name: Reading
                      - color: blue
                        id: 59aa9043-07b4-4bf4-8734-3164b13af44a
                        name: Finished
                      - color: red
                        id: f961978d-02eb-4998-933a-33c2ec378564
                        name: Listening
                      - color: red
                        id: 1d450853-b27a-45e2-979f-448aa1bd35de
                        name: Watching
                  type: select
                Summary:
                  id: '%3F%5C25'
                  name: Summary
                  rich_text: {}
                  type: rich_text
                Type:
                  id: '%2F7eo'
                  name: Type
                  select:
                    options:
                      - color: default
                        id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                        name: Article
                      - color: default
                        id: 4ac85597-5db1-4e0a-9c02-445575c38f76
                        name: TV Series
                      - color: default
                        id: 2991748a-5745-4c3b-9c9b-2d6846a6fa1f
                        name: Film
                      - color: default
                        id: 82f3bace-be25-410d-87fe-561c9c22492f
                        name: Podcast
                      - color: default
                        id: 861f1076-1cc4-429a-a781-54947d727a4a
                        name: Academic Journal
                      - color: default
                        id: 9cc30548-59d6-4cd3-94bc-d234081525c4
                        name: Essay Resource
                  type: select
              title:
                - annotations:
                    bold: false
                    code: false
                    color: default
                    italic: false
                    strikethrough: false
                    underline: false
                  href: null
                  plain_text: Ever Better Reading List Title
                  text:
                    content: Ever Better Reading List Title
                    link: null
                  type: text
              url: 'https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae'
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            type: object
      tags:
        - Databases
      description: 'Retrieves a database object using the ID specified in the request path. '
      summary: Retrieve a database
    patch:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{DATABASE_ID}}'
        - in: body
          name: body
          schema:
            example:
              properties:
                Wine Pairing:
                  name: New Property Name
            type: object
      responses:
        '200':
          description: OK
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            type: object
      tags:
        - Databases
      summary: Update database properties
  '/v1/databases/{id}/query':
    post:
      consumes: []
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          x-example: Bearer secret_t1CdN9S8yicG5eWLUOfhcWaOscVnFXns
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: path
          name: id
          required: true
          type: string
          x-example: '{{DATABASE_ID}}'
        - in: body
          name: body
          schema:
            example: >-
              "{\n    \"filter\": {\n        \"property\": \"Status\",\n       
              \"select\": {\n            \"equals\": \"Reading\"\n        }\n   
              }\n}"
            type: string
      responses:
        '200':
          description: OK
          headers:
            CF-Cache-Status:
              type: string
            CF-RAY:
              type: string
            Connection:
              type: string
            Content-Encoding:
              type: string
            Content-Security-Policy:
              type: string
            Content-Type:
              type: string
            Date:
              type: string
            ETag:
              type: string
            Expect-CT:
              type: string
            Referrer-Policy:
              type: string
            Server:
              type: string
            Set-Cookie:
              type: string
            Strict-Transport-Security:
              type: string
            Transfer-Encoding:
              type: string
            Vary:
              type: string
            X-Content-Security-Policy:
              type: string
            X-Content-Type-Options:
              type: string
            X-DNS-Prefetch-Control:
              type: string
            X-Download-Options:
              type: string
            X-Frame-Options:
              type: string
            X-WebKit-CSP:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            type: object
      tags:
        - Databases
      summary: Filter a database
  /v1/pages/:
    post:
      consumes: []
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          x-example: Bearer secret_t1CdN9S8yicG5eWLUOfhcWaOscVnFXns
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: header
          name: Notion-Version
          type: string
          x-example: '{{NOTION_VERSION}}'
        - in: body
          name: body
          schema:
            example: >-
              "{\n    \"parent\": {\n        \"database_id\":
              \"{{DATABASE_ID}}\"\n    },\n    \"properties\": {\n       
              \"Type\": {\n            \"select\": {\n                \"id\":
              \"f96d0d0a-5564-4a20-ab15-5f040d49759e\",\n               
              \"name\": \"Article\",\n                \"color\":
              \"default\"\n            }\n        },\n        \"Score /5\":
              {\n            \"select\": {\n                \"id\":
              \"5c944de7-3f4b-4567-b3a1-fa2c71c540b6\",\n               
              \"name\": \"⭐️⭐️⭐️⭐️⭐️\",\n                \"color\":
              \"default\"\n            }\n        },\n        \"Name\":
              {\n            \"title\": [\n               
              {\n                    \"text\": {\n                       
              \"content\": \"New Media Article\"\n                   
              }\n                }\n            ]\n        },\n       
              \"Status\": {\n            \"select\": {\n                \"id\":
              \"8c4a056e-6709-4dd1-ba58-d34d9480855a\",\n               
              \"name\": \"Ready to Start\",\n                \"color\":
              \"yellow\"\n            }\n        },\n        \"Publisher\":
              {\n            \"select\": {\n                \"id\":
              \"01f82d08-aa1f-4884-a4e0-3bc32f909ec4\",\n               
              \"name\": \"The Atlantic\",\n                \"color\":
              \"red\"\n            }\n        },\n        \"Publishing/Release
              Date\": {\n            \"date\": {\n                \"start\":
              \"2020-12-08T12:00:00Z\",\n                \"end\":
              null\n            }\n        },\n        \"Link\": {\n           
              \"url\":
              \"https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html\"\n       
              },\n        \"Summary\": {\n            \"rich_text\":
              [\n                {\n                    \"type\":
              \"text\",\n                    \"text\":
              {\n                        \"content\": \"Some think chief ethics
              officers could help technology companies navigate political and
              social questions.\",\n                        \"link\":
              null\n                    },\n                    \"annotations\":
              {\n                        \"bold\":
              false,\n                        \"italic\":
              false,\n                        \"strikethrough\":
              false,\n                        \"underline\":
              false,\n                        \"code\":
              false,\n                        \"color\":
              \"default\"\n                    },\n                   
              \"plain_text\": \"Some think chief ethics officers could help
              technology companies navigate political and social
              questions.\",\n                    \"href\": null\n               
              }\n            ]\n        },\n        \"Read\": {\n           
              \"checkbox\": false\n        }\n    },\n    \"children\":
              [\n        {\n            \"object\": \"block\",\n           
              \"type\": \"heading_2\",\n            \"heading_2\":
              {\n                \"rich_text\": [\n                   
              {\n                        \"type\":
              \"text\",\n                        \"text\":
              {\n                            \"content\": \"Lacinato
              kale\"\n                        }\n                   
              }\n                ]\n            }\n        },\n       
              {\n            \"object\": \"block\",\n            \"type\":
              \"paragraph\",\n            \"paragraph\": {\n               
              \"rich_text\": [\n                    {\n                       
              \"type\": \"text\",\n                        \"text\":
              {\n                            \"content\": \"Lacinato kale is a
              variety of kale with a long tradition in Italian cuisine,
              especially that of Tuscany. It is also known as Tuscan kale,
              Italian kale, dinosaur kale, kale, flat back kale, palm tree kale,
              or black Tuscan palm.\",\n                            \"link\":
              {\n                                \"url\":
              \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n                           
              }\n                        }\n                   
              }\n                ]\n            }\n        }\n    ]\n}"
            type: string
      responses:
        '200':
          description: OK
          examples:
            application/json:
              archived: false
              cover: null
              created_by:
[...]
